//  Base styles
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: $link-color--hover;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  position: relative;
  padding-top: 100px;
}

li {
  list-style-type: none;
}

.page-container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.icon {
  display: inline-block;
}

.main__title {
  text-transform: uppercase;
  // font-size: $font-size2;
  @include fluid-font (16px, 20px, 320px, 2560px);
  font-family: $font-family;
  color: $text-color;
  padding-bottom: 20px;
}

.h2-title {
  color: $text-color;
  font-family: $font-family--oswald;
  // font-size: $font-size2;
  @include fluid-font (16px, 20px, 320px, 2560px) ;
  font-weight: $font-weight;
  text-transform: uppercase;
}

.h3-title {
  color: $text-color;
  font-family: $font-family--oswald;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.def-paragraph {
  color: $text-color2;
  font-family: $font-family--garamond;
  font-size: $font-size2;
  font-weight: $font-weight;
  line-height: $line-height__text;
}


h1, h2, h3, h4, h5 {
  margin: 0;
}
