.events {
    @include max-w (768px) {
        padding-top: 50px;
    }
}

.events--main__title {
    text-align: center;
}
.events-container {
width: 100%;
display: flex;
}

.event-column {
    border-top: 2px solid $text-color2;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.event-details {
    border-top: 1px solid $text-color2;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;

    @include max-w (992px) {
        padding-bottom: 0;
    }

    &-block1 {
        float: left;
        padding-right: 20px;

        @include max-w (768px) {
            padding-right: 15px;
        }

        &__item {
            margin-top: 7px;
            width: 75px;
            height: 75px;
            background-color: $border-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &--desc {
                color: $text-color1;
                font-family: $font-family--oswald;
                font-size: $font-size2;
                font-weight: $font-weight;
                text-transform: uppercase;
            }
        }
    }

    &-block2 {

        &__btn {
            border: none;
            float: right;
            padding-top: 15px;
        }
    }
}

.img-block {
    padding-top: 30px;
    padding-bottom: 30px;

    &__img {
        display: flex;
        margin: auto;
    }

    &__text {
        text-align: center;
        color: $text-color2;
        font-family: $font-family--oswald;
        font-size: $font-size;
        font-weight: $font-weight;
        font-style: italic;
        line-height: $line-height__text;
        margin: 0;
    }

}

.event-details--paragraph {
    @include fluid-font (16px, 20px, 320px, 2560px) ;

    @include max-w (992px) {
        padding-right: 0;
    }
}