.ourStory {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    @include max-w (992px) {
        padding-top: 50px;
    }

    &__text {
        width: 65%;
        font-family: $font-family__text;
        color: $text-color2;
      //   font-size: $font-size2;
        @include fluid-font (14px, 20px, 320px, 2560px);
        font-weight: 400;
        line-height: $line-height__text;
        text-align: center;
        margin: 0;

    @include max-w (1200px) {
          width: 80%;
  }

    @include max-w (768px) {
          width: 100%;
      }
    }
}

.image-block {
  padding-top: 49px;
  display: flex;
  justify-content: space-between;

  @include max-w(768px) {
      flex-direction: column;
      align-items: center;
  }

&__img {
      width: 100%;
      max-width: 367px;
      max-height: 315px;
      overflow: hidden;

      @include max-w (1200px) {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
      }

      @include max-w (768px) {
        margin-top: 15px;
        margin-left: 0px;

        &:first-child {
            margin-top: 0;
        }
      }
  }
}

.subscribe {
    padding-top: 100px;
    padding-bottom: 100px;

    @include max-w (992px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.email-container {
    width: 100%;
    margin: auto;
    padding: 0 22%;

    @include max-w (992px) {
      padding: 0 17%;
    }

    @include max-w (622px) {
      padding: 0 14%;
    }

    @include max-w (550px) {
      padding: 0 10%;
    }

    @include max-w (475px) {
      padding: 0 5%;
    }

    @include max-w (440px) {
      padding: 0 0%;
    }
}

.container__outer {
    margin: auto;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 2px solid $text-color2;
    border-bottom: 2px solid $text-color2;

    // &:focus-within {
    //     border-top: 2px solid $border-color;
    //     border-bottom: 2px solid $border-color;
    // }
    }

.form {
    display: flex;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 98%;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 3px;
        background: $text-color2;
        margin: auto;
        }

    &::before {
        position: absolute;
        content: '';
        width: 98%;
        margin: auto;
        height: 1px;
        left: 0;
        right: 0;
        background: $text-color2;
        top: 3px;
        }

    &__input {
        position: relative;
        width: 100%;
        max-width: 100%;
        border: none;
        color: $text-color;
        font-family: $font-family--garamond;
        font-weight: $font-weight;
        font-style: normal;
      //   font-size: 20px;
      @include fluid-font (16px, 20px, 320px, 2560px) ;
        margin-top: 5px;
        margin-bottom: 5px;
        }
    }


    .meetUs {
      padding-top: 0;
      // width: 100%;
      height: 430px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include max-w (768px) {
        margin: 0 -15px;
      }


      &-container {
          margin-left: auto;
          margin-right: auto;
          padding: 10px;
          background-color: $body-bg;
      }

      &-block {
          width: 100%;
          height: 100%;
          max-width: 372px;
          max-height: 215px;
          padding-bottom: 51px;
          border: 2px solid $border-color;
          background-color: $body-bg;
          display: flex;
          flex-direction: column;
          align-items: center;


          &__title {
              margin: 0;
            //   font-size: $font-size2;
            @include fluid-font (16px, 20px, 320px, 2560px);
              text-transform: uppercase;
              text-align: center;
              padding-top: 32px;
              padding-bottom: 41px;
      }

          &__text {
              color: $text-color2;
              margin: 0;
              text-align: center;
              width: 85%;
            //   font-size: $font-size2;
            @include fluid-font (14px, 20px, 320px, 2560px);
              font-family: "Garamond Premr Pro";
              font-style: italic;
              line-height: $line-height__text;
              }
            }
  }


// CF7 STYLE
.subscribe-form  {

  .wpcf7-form {
    display: flex;
    position: relative;
  
    &::after {
      position: absolute;
      content: '';
      width: 98%;
      height: 1px;
      left: 0;
      right: 0;
      bottom: 3px;
      background: $text-color2;
      margin: auto;
      }
  
  &::before {
      position: absolute;
      content: '';
      width: 98%;
      margin: auto;
      height: 1px;
      left: 0;
      right: 0;
      background: $text-color2;
      top: 3px;
      }
  
      &-control-wrap {
        width: 100%;
      }
  }

  span.ajax-loader {
    display: none!important;
  }
  
  span.wpcf7-not-valid-tip {
    position: absolute;
    font-family: $font-family--garamond;
    z-index: 20;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
  }
  
  
  .wpcf7-validation-errors {
    display: none!important;
  }
  
  .wpcf7-mail-sent-ok {
    margin: 10px!important;
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    color: $successful;
    top: 60px;
  }
}

