.our-wines {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  @include max-w (768px) {
    padding-top: 50px;
  }

  &-container {
    width: 100%;
    border-top: 2px solid $text-color2;
    margin-top: 36px;

    @include max-w (768px) {
      margin-top: 10px;
    }

    &-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 98%;
      margin: 0 auto;

      &:before {
        position: absolute;
        display: block;
        content: '';
        top: 3px;
        bottom: auto;
        left: 0;
        right: 0;
        height: 1px;
        background: $text-color2;
      }
    }
  }
}

.wine-block {
  width: 100%;
  border-bottom: 1px solid $text-color2;
  display: flex;
  justify-content: center;

  @include max-w (768px) {
    flex-direction: column;

    &:last-child {
      border-bottom: none;
    }
  }
}

.wine-bottle {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  border-right: 1px solid $text-color2;
  padding-top: 45px;
  padding-bottom: 63px;

  @include max-w (768px) {
    width: 100%;
    border-right: none;
    padding-top: 30px;
    padding-bottom: 30px;
  }


  &__img {
    max-width: 100%;

    @include max-w (768px) {
      max-width: 65%;
    }
  }

  &__icon {
    width: 40px;
    height: 68px;
    background-image: url('../../images/small-wine-percent.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 8.5%;
    left: auto;
    right: 7.5%;
    bottom: auto;
    display: block;

    @include max-w (768px) {
      top: 18.5%;
    }
  }

  &__alc {
    color: $text-color3;
    position: absolute;
    top: 57%;
    right: -10px;
    transform: translate(0,-50%);
    font-size: 14px;
    font-family: $font-family--garamond;
    line-height: 30px;
  }
}

.wine-info {
  width: 60%;

  @include max-w (768px) {
    width: 100%;
  }

  }

.wine-content {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 52px;

  @include max-w (768px) {
    padding: 0;
  }

  &__text {
    color: $text-color2;
    font-family: $font-family--garamond;
    // font-size: $font-size2;
    @include fluid-font (14px, 20px, 320px, 1919px) ;
    font-weight: $font-weight;
    line-height: $line-height__text;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &-inner-title {
    color: $text-color;
    font-family: $font-family--garamond;
    // font-size: 18px;
    @include fluid-font (14px, 18px, 320px, 2560px) ;
    line-height: $line-height__text;
  }

  &-inner-text {
    color: $text-color2;
    font-family: $font-family--garamond;
    // font-size: 18px;
    @include fluid-font (14px, 18px, 320px, 2560px) ;
    font-weight: $font-weight;
    font-style: normal;
    line-height: $line-height__text;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}
