// Buttons
.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  padding: 8px 25px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
}

.button {
    color: $text-color3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    // font-size: 15px;
    @include fluid-font (12px, 15px, 320px, 2560px) ;
    font-weight: 600;
    font-style: normal;
    border: none;
    border-left: 1px solid $text-color2;
    background-color: $body-bg;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding-left: 54px;
    padding-right: 10px;

    &:hover {
      color: #333;

      .button__arrow {

        path {
          fill: #333;
        }
      }
    }

     &__arrow {
         padding-left: 38%;
         color: $text-color3;
     }
}