.banner {
  position: relative;
  width: 100%;
  max-height: 772px;
  height: 100vh;
  background-position: center;
  // background-image: url('../../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include max-w (992px) {
    max-height: 420px;
  }

  @include max-w (768px) {
    max-height: 200px;
  }

  &-wrapper {
    margin-top: 60px;
    z-index: 50;

    @include max-w (992px) {
      margin-top: 0;
    }
  }

  &__container {
    padding: 10px 10px;
    background-color: $body-bg;

    @include max-w (768px) {
      margin-top: 10px;
      width: 65%;
      padding: 6px;
    }

    @include max-w (475px) {
      width: 60%;
    }
  }

  &__logo {
    width: 100%;
    background-color: $body-bg;
    border: 2px solid $border-color;
    padding: 35px 59px;

    @include max-w (768px) {
      padding: 12px;
    }
    }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  &-sample {
    position: relative;
    max-height: 372px;
    background-size: cover;
    background-position: center;

    @include max-w (768px){
      max-height: 200px;
    }


    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $text-color;
      opacity: .6;
    }
  }
}
