.contactUs {
    padding-top: 100px;
    padding-bottom: 100px;

    @include max-w (992px) {
        padding-top: 50px;
    }

    &-container {
        width: 100%;
        margin: auto;

        &__outer {
            position: relative;
            margin: auto;
            width: 100%;
            border-top: 2px solid $text-color2;
            border-bottom: 2px solid $text-color2;
            display: flex;
            flex-direction: row;

            @include max-w (768px) {
                flex-direction: column;
            }

            &::after {
                position: absolute;
                content: '';
                width: 98%;
                height: 1px;
                left: 0;
                right: 0;
                background: $text-color2;
                margin: auto;
                top: 3px;

                @include max-w (768px) {

                }

            }

            &::before {
                position: absolute;
                content: '';
                width: 98%;
                margin: auto;
                height: 1px;
                left: 0;
                right: 0;
                background: $text-color2;
                bottom: 3px;

                @include max-w (768px) {

                }
    
            }
        }
    }

    &-block {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $text-color;
        padding-top: 41px;

    @include max-w (768px) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $text-color2;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

        &:last-child {
            border-right: none;

            @include max-w (768px) {
                border-bottom: 0;
            }

        }

        &:nth-child(2) {
            flex-basis: 40%;
        }

        &__title {
            color: $text-color;
            font-family: $font-family;
            font-size: $font-size;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__text {
            color: $text-color;
            text-align: center;
            font-family: "Garamond Premr Pro";
            font-size: 16px;
            font-weight: 700;
            font-style: italic;
            margin-top: 20;
            margin-bottom: 38px;

            @include max-w (768px) {
                margin-bottom: 0;
            }
        }
        
        &__link {
            color: $links-color2;
            padding-top: 15px;

            &:hover {
                color: $links-color2;
            }
        }
    }

    &-social {
        margin-top: 14px;

        &__icon {
            font-size: 26px;
            padding-left: 6px;
            padding-right: 6px;
            color: $links-color2;

            &:hover {
                color: $text-color3;
                transition: 1s;
            }
        }
    }
}