.header {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
  display: flex;
  font-display: column;
  z-index: 120;

  @include max-w (992px) {
    width: 100%;
  }
}

.page-header {
  position: relative;
  background-color: #000;
}


.main-nav__list {
  margin: 0;
  padding-top: 42px;
  display: flex;
  justify-content: center;
  position: relative;

  @include max-w (992px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    padding-left: 0;
    right: 1000px;
    background: rgba(8, 8, 8, 0.75);
    width: 30vw;
    height: 100vh;
    z-index: 10;
  }

  @include max-w (768px) {
    height: 200px;
    padding-top: 50px;
  }

  @include max-w (475px) {
    height: 200px;
    padding: 50px;
    width: 200%;
  }

  @include max-w (320px) {
    height: 200px;
    padding: 50px;
  }
}

.main-nav__list li {
  list-style-type: none;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 100;

  @include max-w (992px) {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include max-w (375px) {
    padding-left: 15px;
  }

}


.main-nav__list li a {
  color: $links-color;
  font-family: $font-family;
   font-size: $font-size2;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;

  @include max-w (992px) {
    padding: 0;
  }

  @include max-w (768px) {
    font-size: 16px;
  }

  &:hover {
    border-bottom: 2px solid $links-color;
  }

}

.current-menu-item a {
  border-bottom: 2px solid $links-color;

  &:hover {
    border-bottom: 2px solid $links-color;
    transition: 1s;
  }
}

//Burger
.menu {
  z-index: 1000;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 1.25em;
  position: relative;
  width: 20px;
  height: 20px;
  display: none;

  @include max-w (992px) {
    display: block;
  }
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 3px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 6px;
}
.menu-bottom {
  top: 12px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 6px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 6px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

//Burger navigation
.menu-right {
  transition: 1s;
  padding-left: 0;
  padding-right: 150px;

  @include max-w (415px) {
  right: 15.5%;
  }

  @include max-w (368px) {
    padding-left: 10px;
  }
}