//  Main Color
$body-bg: #fff;

//Text Color
$text-color: #333;
$text-color1: #fff;
$text-color2: #666;
$text-color3: #781241;
$text-color4: #adadad;

//Border Color
$border-color: #781241;
$border-input: #adadad;

// Color link
$link-color: #55b3f3;
$link-color--hover: $body-bg;
$links-color: #FFF;
$links-color2: #333;

// $link-color--hover: darken($link-color, 20%);

//  Typography
$font-family: 'Oswald';
$font-family__text: 'Garamond Premr Pro';
$font-family--oswald: 'Oswald';
$font-family--garamond: 'Garamond Premr Pro';

// $font-family--helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Main Typography variables
$font-size: 16px;
$font-size2: 20px;
$font-weight: 400; // Regular
$line-height: 1.2;
$line-height__text: 30px;

// Custom Container setting
$container-padding: 15px;
$container-width: 1150px + $container-padding * 2;

//Breakpoints variables
// $screen-xs: 0;
// $screen-sm: 480px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;
